@import '../../scss/variables';

header {
    background: #24292e;
    padding: $half-space 0;
    color: #fff;

    &>div {
        width: 71%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        #logo {
            width: 15%;
            margin-right: $space;

            @include desktop {
                width: 5%;
            }

            img {
                width: 100%;
            }
        }

        &>div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            li, form {
                padding: $space 0;
                font-size: 1rem;
                margin-right: $space;
            }

            form {
                width: 100%;
                @include desktop {
                    width: initial;
                }
            }

            input {
                font-size: 1rem;
                padding: $half-space;
                background-color: hsla(0, 0%, 100%, .125);
                border: none;
                border-radius: 3px;
                width: calc(100% - 16px);
                color: #fff;

                &:focus {
                    background: #fff;
                    outline: none;
                    color: #000;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
            }

            #signup {
                border: 1px solid #d1d5da;
                padding: $half-space 4px;
                margin: 0;
                border-radius: 3px;
            }
        }
    }
}
