@import './scss/variables';

#main {
    &>div {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include desktop {
            flex-wrap: nowrap;
            width: 71%;
        }
    }
}

main {
    width: 70%;
    padding: 0;
    margin: auto;

    @include desktop {
        width: 71%;
        padding-left: $half-space;
    }

    #head {
        border-bottom: 1px solid #d1d5da;
    }
}
